body{
	padding-top: 60px;
	overflow-y: scroll !important;
	padding-right: 0px !important;
}

.navbar{
	background: #2780E3;
}

.page-title{
	text-align: center;
}

.label{
	margin-top: 9px;
}

.panel-closed{
	background-color: #d9d9d9;
}

.task-title{
	cursor:pointer;
}

.panel-no-padding{
    padding: 0px;
}

.project-title{
	cursor:pointer;
}

textarea{
	resize: none;
}

.modal{
	font-size: 16pt;
}

.glyphicon{
	font-size: 14pt;
}

.alert{
	margin-bottom: 8px;
}

.affix {
    top:50px;
    position:fixed;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.table-smallmargin {
    margin-bottom: 8px;
}

.table-nomargin {
    margin-bottom: 0px;
}